beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.11.5
chardet==3.0.4
Cheetah==2.4.4
requests==2.18.4
Scrapy==1.5.1
service-identity==17.0.0
six==1.11.0
slip==0.4.0
slip.dbus==0.4.0
Twisted==18.7.0
urlgrabber==3.10
urllib3==1.22
w3lib==1.19.0
yum-metadata-parser==1.1.4
zope.interface==4.5.0
